.question {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;

    & + .question {
        margin-top: 8px;
    }

    &.highlighted {
        background: #fd885a40;
        border: 1px solid #fd885a;

        footer .user-info span {
            color: #29292E;
        }
    }

    &.answered {
        background: #5c5afd50;
        border: 1px solid #835afd;
        cursor: no-drop;
    }

    p {
        color: #29292e;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span {
                margin-left: 8px;
                font-size: 14px;
            }
        }

        .answered {
            display: flex;
            color: #803fff;
            align-items: center;
            gap: 5px;
            font-weight: 500;

            > svg path,
            > svg circle {
                stroke: #835afd;
            }
        }

        > div {
            display: flex;
            gap: 8px;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;
            color: #835afd;
            gap: 5px;
            padding: 3px;
            display: flex;
            align-items: flex-end;
            border-radius: 8px;
            transition: filter 0.2s;

            &.like-button {
                svg path {
                    stroke: #835afd;
                }

                &.liked {
                    background: #835afd40;
                }

                &:hover {
                    background: #835afd40;
                }
            }

            &.answered-button {
                > svg path,
                > svg circle {
                    stroke: #835afd;
                }

                &:hover {
                    background: #835afd40;
                }
            }

            &.highlighted-button {
                svg path {
                    stroke: #fd885a;
                }

                &:hover {
                    background: #fd885a40;
                }
            }

            &.delete-button {
                svg path {
                    stroke: #e75858;
                }

                &:hover {
                    background: #e7585840;
                }
            }
        }
    }
}