@media (max-width: 400px) {
    #page-room main .room-title {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .confirm-modal .content > div {
        flex-direction: column;
        width: 100% !important;
    }

    .question footer .user-info span {
        display: none;
    }
}

@media (max-width: 800px) {
    #page-auth {
        display: block;

        aside {
            align-items: center;
            padding: 70px 20px;

            > img {
                display: none;
            }
        }
    }

    .confirm-modal .content {
        width: 100vw !important;
        height: 100vh !important;
        border-radius: 0 !important;
    }
}

@media (max-width: 650px) {
    #page-room {
        header {
            .content {
                flex-direction: column;

                > div {
                    flex-direction: column;
                    margin-top: 42px;
                }
            }
        }

        main {
            form {
                .form-footer {
                    flex-direction: column-reverse;
                    gap: 32px;
                }
            }
        }
    }
}